#tag-wrapper
  form
    .tag-images

    .tag-image
      margin-bottom 10px

      input[type="radio"].error
        border 1px solid #f4999d
        box-shadow inset 0 1px 5px 0 #f4999d

      img
      .tag-image-fill
        width 40px
        height 40px

      .tag-image-fill
        background-color transparent

    .form-group
      span.error
        top 40px

      .tag-image
        span.error
          display none
