body
  header
    &.app-header
      .user-nav
        a[href="/signup"]
          display none

form
  .form-group
    label
      display block
    p
      &.help-block
        a
          margin 0 4px
          display inline-block
    ul
      padding 0
      list-style none

    .twitter-typeahead
      width 100%

      .error
        top 0
        padding-top 10px

      input[type="text"].error
        padding-top 5px

      .panel
        width 100%

        .panel-body
          padding 10px 15px
