#data-container
  #data
    .sidebar-container
      ul.data-menu
        li.heading= t('data.title')
        li: a(href="/data")= t('data.home')
        li: a(href="/data/user")= t('data.user')
    .data-content
