@media only screen and (max-width: 600px)
  #data-container, #data, #data-content
    height auto

  #data-container
    #data
      border-width 0
      .sidebar-container
        display none
      .data-content
        margin 0px auto
        padding 20px 30px
        & > div
          margin-bottom 30px
          padding-bottom 15px
          border-bottom 1px solid #dcdcdc
        & > .hide
          display block !important
        form
          max-width 100%

