#home-wrapper.container.hide
  p citizens: 
    span#stats-citizens 0
  p comments:  
    span#stats-comments 0
  p emailValidatedCitizens: 
    span#stats-emailValidatedCitizens 0
  p laws: 
    span#stats-laws 0
  p rated: 
    span#stats-rated 0
  p replies: 
    span#stats-replies 0
  p votes:  
    span#stats-votes 0
