#laws-proposals
   background-color: #EDEBE8

.laws
   .inner
     background-color: #FFF

.logo-row
   color #6A122C
   padding-top: 30px;
   padding-bottom: 30px;
   margin-bottom: 30px;
   padding-left: 0;
   border-bottom: 3px solid #6A122C;
