#laws-proposals
  .container
    .row
      .col-xs-12.col-sm-12.col-md-12.logo-row
        img(src='/lib/custom-view/images/eu-voto-img.png')
  .container
    .row
      .laws.col-xs-12.col-sm-12.col-md-12
