form.comment-edit-form
  textarea
    width: 100%
    resize: none

  .form-errors
    color: #c0392b
    padding-left: 10px
    display: inline-block
    list-style-type: none

  .btn
    font-size: 12px !important