
.law-proposal
  font-size 10px
  height auto !important
  &.carousel-prev
    left: -200%;
  &.carousel-next
    left: 200%;
  &:first-child .prev,
  &:last-child .next
    background-image none
    &:hover
      background-color #c9d1d3
      cursor default

    span
      color #c9d1d3


  .btn-discuss
    display none

  .inner
    clearfix()
    margin-bottom 1em
    padding 1em
    border-radius 3px
    background-color #ebeff0
    min-height 300px
    overflow hidden
    position relative

    h1,
    h2
      margin 0 0 .7em
      padding 1em .5em
      font-size 2em
      font-weight 900
      text-align center
      text-transform uppercase
      border-top-left-radius 3px
      border-top-right-radius 3px

    h1
      margin 0
      padding 0
      padding-top 0

    h2
      font-size 1.9em
      margin-top 0
      margin-bottom 1em
      padding 1em
      font-weight 900
      color #fff

      a.read-more
        color #333
        display inline-block
        margin-left 3px

    .law-title-link
      position absolute
      top 0 
      left 0
      background-color #7A1533
      color #fff
      width 100%

    .law-title-link:hover
      text-decoration none

    .flaticon.social
      display block
      text-transform inherit
      margin-bottom 3px

    .author-wrapper
      bottom 0
      left 0
      min-height 40px
      position absolute
      width 100%
      background-color #909DA5
      color #fff
      font-size 14px
      padding-top 5px
      font-weight bold
      .author
        display inline-block
        margin 0
        padding-left 3.6em
        img
          display inline-block
          position absolute
          left 0
          top 50%
          margin-top -1.5em
          width 3em
          height 3em
          border-radius 100%
        p
          display inline-block
          font-size 1.3em
          margin 0
          &:after
            content '\00a0\00a0/\00a0\00a0'
          &:last-child:after
            content ''
          a
            color #000
            text-decoration none
            border-bottom 1px solid transparent
            transition all .1s ease-in
            &:hover
              color #fff
              border-bottom 1px solid #666

    .btn-talk
      display block
      margin 1em auto
      width 25%
      @media screen and (max-width 960px)
        width 35%
      @media screen and (max-width 700px)
        width 75%

    .pic
      position relative
      background-size cover
      background-repeat no-repeat
      background-position center center
      span
        display block
        padding-top 45%

      @media screen and (max-width 700px)
        margin-bottom 10px

    .desc
      margin 0 0 .5em 0
      font-size 1.4em
      line-height 1.5
      color #000

    .link
      display inline-block
      padding-left 2.7em
      font-size .9em
      color #000
      text-transform uppercase
      text-decoration none
      border-bottom 1px solid transparent
      transition all .1s ease-in
      background url('/lib/law-proposal/images/clip.svg') no-repeat left .3em
      &:hover
        color #333
        border-bottom 1px solid #666

law-proposal-big()
  .law-proposal
    .pic
      float left
      width 45%
      margin-right 5%
      width calc('50% - 1em', 48%)
      margin-right calc(1em)

    .desc
      position relative
      top -.3em

@media screen and (min-width 600px)
  law-proposal-big()

#homepage
  .winners
    .law-proposal
      .btn-discuss
        display block
