colors = #21CC97 #2DA968 #39863A #45630B
for headerColor, i in colors
  #laws .law-proposal:nth-of-type(4n+{i}) .panel-default
    .panel-heading
      background-color headerColor
    &:hover
      border-color lighten(headerColor,75%)

#laws-proposals
  font-size: 16px

.law-proposal
  font-size 15px

  .panel
    margin-bottom 35px
    transition all 400ms ease

  .panel-heading
    padding 15px

  a.law-link
    color white
    &:hover
      text-decoration none

  .law-tag
    height 24px
    width @height
    margin-right 8px

  .law-title

  .panel-body

  .panel-footer
    min-height 40px

  .law-voted
    margin-left 5px
