.list-tpl
  #user-item.media
    .media-left
      img.avatar(src="http://www.gravatar.com/avatar?d=mm")
    .media-body
      h4.media-heading
        span.fullName
      p
        span.glyphicon.glyphicon-envelope
        span.email
      p
        span.glyphicon.glyphicon-map-marker
        span.country
      
