#user-wrapper.hide
  .well.well-lg
    .form-group
      .input-group
        span.input-group-addon
          i.glyphicon.glyphicon-search
        input.form-control.fuzzy-search(type='text', placeholder='#{t("admin-laws.list.search.placeholder")}', autofocus)
  
  include item.jade
  
  .list
