.participants-box
  span
    | {{participants.length}}
    | #{t('Participant')}{{participants.length === 1 ? '' : 's'}}
  span
    | {{#participants:i}}{{>participant}}{{/participants}}
    | <a href="#" class="view-more hellip {{#participants.length < 6}}hide{{/}}"> &hellip;</a>