.participants-box
  span
    | {{participants.length}} Participants
  span
    | {{#participants:i}}{{>participant}}{{/participants}}
    | <a href="#" class="view-more hellip {{#participants.length < 6}}hide{{/}}"> &hellip;</a>