| <a href="javascript:void();" class="participant-profile" title="{{this.fullName || this.firstName + ' ' + this.lastName}}">
| <img class="avatar" src='{{this.profilePictureUrl ? this.profilePictureUrl : this.gravatar}}' />
| </a>