#identity-wrapper.hide
  .identity-settings
    .heading
      .circle
        i.icon-identity
      h1= t('settings.identity-validation.title')
    .form
      .form-group
        label #{t('settings.identity-validation.label')}
        #identity-enable.toggle-container
          span.toggle-status
      ul.form-messages
      .result-messages
